.advantages__wrap
	.container
		.advantages
			h4.title.title__sm Sound of Music это:
			.clearfix
				.advantages__col
					.advantages__item.wow.bounceInLeft
						img(src="uploads/ic-scientist.png", width="113", height="120", alt="Icon Scientist")
						h6 Ведущие эксперты
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nobis aperiam hic? Numquam optio quaerat, eligendi commodi, ab molestias animi magni omnis distinctio vero natus hic enim sit, ut libero.
				.advantages__col
					.advantages__item.wow.flipInX.center
						img(src="uploads/ic-team.png", width="120", height="120", alt="Icon Team")
						h6 Хорошая команда
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nobis aperiam hic? Numquam optio quaerat, eligendi commodi, ab molestias animi magni omnis distinctio vero natus hic enim sit, ut libero.
				.advantages__col
					.advantages__item.wow.bounceInRight
						img(src="uploads/ic-prize.png", width="132", height="132", alt="Icon Prize").wow.pulse
						h6 Участие в конкурсах
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nobis aperiam hic? Numquam optio quaerat, eligendi commodi, ab molestias animi magni omnis distinctio vero natus hic enim sit, ut libero.