.content__wrap
	.container
		.radio__block.wow.lightSpeedIn.center
			h3.title.title__sm try it
			.radio__wrap
				.radio
					input(type="radio" name="radio" id="radio1")
					label(for="radio1")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| Book a free Lessons
				.radio
					input(type="radio" name="radio" id="radio2")
					label(for="radio2")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| buy lesson
				.radio
					input(type="radio" name="radio" id="radio3")
					label(for="radio3")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| use the gift card
		.content
			h3.title.title__sm WHY CHILDREN'S DEVELOPMENT 
				br
				| BEGINS WITH MUSIC
			ul The piano school for children helps children develop mentally and intellectually:
				li • Performing coordinated actions develops fine motor skills, thinking, and correct speech;
				li • Music exercises and activities help train attention and memory;
				li • It increases the intellectual level of a child;
				li • It even helps to develop mathematical skills.
			p Individual piano lessons teach children responsibility, independence, and perseverance.
			h6 RELIABLE FOUNDATION
			p The piano school for children will contribute to a successful future. Not all students will become great musicians, but everyone's personal and spiritual growth is assured. Those who came to us for professional education will acquire a solid base of special skills.
			ul When students “learn from scratch,” they will more easily learn other musical instruments in the future, such as:
				li • Synthesizer
				li • Guitar
				li • Saxophone
				li • Violin
				li • Drums
		





