.container
	.contact
		h3.title.title__md 
			span Contact
				i
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.888 54.888")
						path(d="M52.104,0.249c-0.216-0.189-0.501-0.275-0.789-0.241l-31,4.011c-0.499,0.065-0.872,0.489-0.872,0.992v6.017v4.212v26.035C17.706,39.285,14.997,38,11.944,38c-5.247,0-9.5,3.781-9.5,8.444s4.253,8.444,9.5,8.444s9.5-3.781,9.5-8.444c0-0.332-0.027-0.658-0.069-0.981c0.04-0.108,0.069-0.221,0.069-0.343V16.118l29-3.753v18.909C48.706,29.285,45.997,28,42.944,28c-5.247,0-9.5,3.781-9.5,8.444s4.253,8.444,9.5,8.444s9.5-3.781,9.5-8.444c0-0.092-0.012-0.181-0.015-0.272c0.002-0.027,0.015-0.05,0.015-0.077V11.227V7.016V1C52.444,0.712,52.32,0.438,52.104,0.249z")
.contact__wrap
	.container.container__lg
		.contact.clearfix
			#map.map
			.contact__content
				h5.contact__title The Sound of Music USA
				.contact__block
					p
						svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 410.344 410.344")
							path(d="M205.212,0C119.37,0.088,49.816,69.678,49.772,155.52c0,83.52,143.36,245.36,149.44,252.16c2.947,3.292,8.005,3.571,11.297,0.624c0.219-0.196,0.427-0.404,0.624-0.624c6.08-6.88,149.44-168.64,149.44-252.16C360.528,69.709,291.022,0.132,205.212,0z M205.212,390.16c-27.36-32-139.44-166.32-139.44-234.72C65.772,78.429,128.201,16,205.212,16s139.44,62.429,139.44,139.44C344.652,223.84,232.572,358.32,205.212,390.16z")
							path(d="M208.012,78c-46.524,0.044-84.204,37.796-84.16,84.32c0.044,46.524,37.796,84.204,84.32,84.16c46.493-0.044,84.16-37.747,84.16-84.24C292.244,115.721,254.531,78.044,208.012,78z M208.012,230.56c-37.688,0-68.24-30.552-68.24-68.24s30.552-68.24,68.24-68.24s68.24,30.552,68.24,68.24C276.208,199.99,245.681,230.516,208.012,230.56z")
						| 11 Buford Village Way, Suite 123, Buford GA
					p
						svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512")
							path(d="M298.667,25.6h-85.333c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h85.333c4.71,0,8.533-3.823,8.533-8.533C307.2,29.423,303.377,25.6,298.667,25.6z")
							path(d="M358.4,25.6h-8.533c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h8.533c4.71,0,8.533-3.823,8.533-8.533C366.933,29.423,363.11,25.6,358.4,25.6z")
							path(d="M266.598,435.2H245.41c-12.979,0-23.543,10.564-23.543,23.543v4.122c0,12.979,10.564,23.535,23.535,23.535h21.188c12.979,0,23.543-10.556,23.543-23.535v-4.122C290.133,445.764,279.569,435.2,266.598,435.2z M273.067,462.865c0,3.567-2.901,6.468-6.468,6.468H245.41c-3.575,0-6.477-2.901-6.477-6.468v-4.122c0-3.575,2.901-6.477,6.477-6.477h21.18c3.576,0,6.477,2.901,6.477,6.477V462.865z")
							path(d="M370.227,0H141.781c-17.007,0-30.848,13.841-30.848,30.848v450.304c0,17.007,13.841,30.848,30.848,30.848h228.437c17.007,0,30.848-13.841,30.848-30.839V30.848C401.067,13.841,387.226,0,370.227,0z M384,481.152c0,7.595-6.178,13.781-13.773,13.781H141.781c-7.603,0-13.781-6.187-13.781-13.773V30.848c0-7.595,6.178-13.781,13.781-13.781h228.437c7.603,0,13.781,6.187,13.781,13.781V481.152z")
							path(d="M392.533,51.2H119.467c-4.71,0-8.533,3.823-8.533,8.533v358.4c0,4.71,3.823,8.533,8.533,8.533h273.067c4.71,0,8.533-3.823,8.533-8.533v-358.4C401.067,55.023,397.244,51.2,392.533,51.2z M384,409.6H128V68.267h256V409.6z")
						a(href="tel: +7(770) 831-74-32") (770) 831-7432
				.contact__form.wow.fadeInRight
					h4.contact__form-title ask questions
					.clearfix
						.contact__inp
							input(type="text", placeholder="Name", required)
						.contact__inp
							input(type="email", placeholder="Email", required)
						.contact__tArea
							textarea(type="text", placeholder="Questions")
						.contact__inp
							input(type="tel", placeholder="Phone", required)
						a(href="#").btn.btn__sm
							svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
								path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
							| Отправить
		footer.footer.wow.fadeInUp
			a(href="#header").arrow-up
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 32.634 32.634")
					path(d="M16.317,32.634c-0.276,0-0.5-0.224-0.5-0.5V0.5c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v31.634C16.817,32.41,16.594,32.634,16.317,32.634z")
					path(d="M28.852,13.536c-0.128,0-0.256-0.049-0.354-0.146L16.319,1.207L4.135,13.39c-0.195,0.195-0.512,0.195-0.707,0s-0.195-0.512,0-0.707L15.966,0.146C16.059,0.053,16.186,0,16.319,0l0,0c0.133,0,0.26,0.053,0.354,0.146l12.533,12.536c0.195,0.195,0.195,0.512,0,0.707C29.108,13.487,28.98,13.536,28.852,13.536z")
			.container
				.footer__top.clearfix
					.footer__col
						a(href="/").logo
							img(src="uploads/logo.png", width="180", height="75", alt="Logo")
						.social
							a(href="#")
								i.icon-vkontakte
							a(href="#")
								i.icon-twitter
							a(href="#")
								i.icon-facebook
							a(href="#")
								i.icon-instagram
					.footer__menu
						nav.nav
							ul
								li
									a(href="#") О компании
									.submenu
										ul
											li
												a(href="#") Награды
											li
												a(href="#") Преподавательский
													br
													| состав
								li
									a(href="#") ПРограммы
									.submenu
										ul
											li
												a(href="#") Уроки гитары
											li
												a(href="#") Уроки басс гитары
											li
												a(href="#") Уроки флейты
											li
												a(href="#") Уроки пианино
											li
												a(href="#").submenu__all Все программы
								li
									a(href="#") ДЕНЬ РОЖДЕНИЯ
								li
									a(href="#") ВЫСТУПЛЕНИЕ НА ВАШЕМ МЕРОПРИЯТИИ
								li
									a(href="#") СДАЧА В НАЕМ
						.clearfix
							.lang
								p three languages are available
								a(href="#").eng ENGlish
								span |
								a(href="#").rus Russian
								span |
								a(href="#").frn French
				.footer__bottom.clearfix
					p ©  Copyright 2003-2018 The Sound of Music USA
					p Разработано веб-студией 
						a(href="https://promoaccent.ru/" target="_blank") «Promoacent»

							


