header#header.header-top__wrap
	.container
		header.header-top
			.wrapper-mr.clearfix
				h1 Музыкальная школа Sound of Music
				ul.menu
					li
						a(href="#") О школе
					li
						a(href="#") Цены
					li
						a(href="#") Фотогалерея
					li
						a(href="#") Контакты
header.header__wrap
	.container
		.header
			.wrapper-mr.clearfix
				a(href="/").logo
					img(src="uploads/logo.png", width="180", height="75", alt="Logo")
				a(href="tel: +7(770) 831-74-32").phone (770) 831-7432
					span телефон для справок
				a(href="#").share
					span Share:
					i.icon-facebook
				a(href="#").btn
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
						path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
					| Пробное занятие
				a(class="toggle" href="javascript:;" id="sidenav-toggle")
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56")
						path(d="M28,0C12.561,0,0,12.561,0,28s12.561,28,28,28s28-12.561,28-28S43.439,0,28,0z M28,54C13.663,54,2,42.336,2,28 S13.663,2,28,2s26,11.664,26,26S42.337,54,28,54z" class="toggle-circle")
						path(d="M15,17h26c0.553,0,1-0.448,1-1s-0.447-1-1-1H15c-0.553,0-1,0.448-1,1S14.447,17,15,17z")
						path(d="M45,31H11c-0.553,0-1,0.448-1,1s0.447,1,1,1h34c0.553,0,1-0.448,1-1S45.553,31,45,31z")
						path(d="M45,23H11c-0.553,0-1,0.448-1,1s0.447,1,1,1h34c0.553,0,1-0.448,1-1S45.553,23,45,23z")
						path(d="M41,39H15c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S41.553,39,41,39z")
				.lang
					p three languages are available
					a(href="#").eng ENGlish
					span |
					a(href="#").rus Russian
					span |
					a(href="#").frn French
.nav__wrap
	.container
		nav.nav
			ul.clearfix
				li
					a(href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| ПРограммы
				li
					a(href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| Ваш день рождения
				li
					a(href="activity.html")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| ВЫСТУПЛЕНИЕ НА ВАШЕМ МЕРОПРИЯТИИ
				li
					a(href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| Сдача в наем и продажа
nav.sidenav(data-sidenav data-sidenav-toggle="#sidenav-toggle")
	.sidenav-brand
		a(href="/").logo
			img(src="uploads/logo.png", width="180", height="75", alt="Logo")
	.sidenav-header
		a(href="tel: +7(770) 831-74-32").phone (770) 831-7432
	.sidenav-menu.nav
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title ПРограммы
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title Ваш день рождения
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title ВЫСТУПЛЕНИЕ НА ВАШЕМ МЕРОПРИЯТИИ
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title Сдача в наем и продажа
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title О школе
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title Цены
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title Фотогалерея
		li 
			a(href="#" data-sidenav-dropdown-toggle).active
				span.sidenav-link-title Контакты
	.sidenav-header
		a(href="#").btn
			svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
				path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
			| Пробное занятие
		a(href="#").share
			span Share:
			i.icon-facebook






