.promo__wrap2
	img(src="uploads/promo-2-photo.png", width="594", height="459", alt="Man Photo").promo__image.promo__image2
	.container
		.promo.promo2.clearfix
			.promo__text
				h3.title.title__sm welcome to award-winning music school  in Atlanta, GA
				p My name is Inna Gurina, I am the mother of two kids who are passionate about music, also, I am the general manager of The Sound of Music school, which has a the 5-star rating. During the almost 20 years our school has been open, and we have been teaching Georgia’s residents any kind of musical instrument, helping people to develop their musical skills and preparing them for professional careers in musical fields. If you have questions about our lessons and programs just call or send a message via the contact form.
