.statistic__wrap
	.container
		.statistic.clearfix
			.statistic__col
				.statistic__item.wow.swing.center
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238").svg__bg
						path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
					.statistic__content
						span.title.title__sm 145
						p graduates'
			.statistic__col
				.statistic__item.wow.swing.center
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238").svg__bg
						path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
					.statistic__content
						span.title.title__sm 1465
						p lessons learned
			.statistic__col
				.statistic__item.wow.swing.center
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238").svg__bg
						path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
					.statistic__content
						span.title.title__sm 98%
						p successful 
							br 
							| completion