.teacher__wrap
	.container
		.teacher
			h2.title 
				span Our teachers make the difference
					i
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.888 54.888")
							path(d="M52.104,0.249c-0.216-0.189-0.501-0.275-0.789-0.241l-31,4.011c-0.499,0.065-0.872,0.489-0.872,0.992v6.017v4.212v26.035C17.706,39.285,14.997,38,11.944,38c-5.247,0-9.5,3.781-9.5,8.444s4.253,8.444,9.5,8.444s9.5-3.781,9.5-8.444c0-0.332-0.027-0.658-0.069-0.981c0.04-0.108,0.069-0.221,0.069-0.343V16.118l29-3.753v18.909C48.706,29.285,45.997,28,42.944,28c-5.247,0-9.5,3.781-9.5,8.444s4.253,8.444,9.5,8.444s9.5-3.781,9.5-8.444c0-0.092-0.012-0.181-0.015-0.272c0.002-0.027,0.015-0.05,0.015-0.077V11.227V7.016V1C52.444,0.712,52.32,0.438,52.104,0.249z")
			.clearfix
				.teacher__image.wow.pulse.animated
					img(src="uploads/teacher-photo.png", width="506", height="493", alt="Person Photo")
				.teacher__content.wow.fadeInRight
					.teacher__title-wrap.clearfix
						h4.teacher__title Dr. David P.
						a(href="#").listen__circle.microphone
						a(href="#").listen__circle.piano
					p Дэвид пользуется обучения музыки для студентов всех уровней и способностей и приносит свою любовь к музыке в его частных уроков. Он принимает активное участие в его развитии в качестве учителя и в настоящее время национально сертифицированный учитель музыки в фортепиано.
					a(href="#").btn
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 250 238")
							path(d="M 90.538262,212.46794 C 56.812633,207.02286 34.091536,192.89528 25.845365,172.24302 23.784247,167.08102 23.549609,164.83069 23.526126,150 23.493565,129.43614 24.481379,125.37883 34.221275,106.07121 49.803014,75.183168 64.629158,53.365245 81.497673,36.5 99.681353,18.319845 110.29643,13 128.38894,13 c 23.54701,0 34.45563,8.471829 61.80645,48 19.06267,27.549911 32.14526,54.28326 36.36795,74.31538 2.16724,10.28117 1.89347,28.99498 -0.53941,36.87171 -6.34682,20.54862 -26.04785,33.40124 -60.49411,39.46534 -12.92616,2.27559 -62.6022,2.8158 -74.991558,0.81551 z")
						| Пробное занятие