doctype html
html(lang="ru")
	head
		include includes/head
		title Sound of music - выступления на вашем мероприятии
	body
		include includes/header
		include includes/promo-2
		include includes/emotions
		include includes/about
		include includes/advantages
		include includes/contact
		script(src="libs/jquery/jquery-3.1.1.min.js")
		script(src="libs/sidenav/sidenav.js")
		script(src="libs/wow/wow.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		script(src="js/main.js")